@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img {
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  border: 5px solid pink;
}

body {
  background-color: rgb(174, 218, 182);
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
#memories {
  align-self: center;
}
.highlighted {
  background-color: orange;
}
