@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
  border: 5px solid brown;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  
  
}
h3 {
  color: red;
    background-color: maroon; 
}

.memory {
  color: blue;
  background-color: yellow;
}

